<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Msm Map" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"/></script>
    <script>
      window.isLocalDevelopment = <%= Rails.application.config.force_mock_location || false %>;
    </script>
  </head>
  <body>
    <main class="container mx-auto">
      <div class="bg-blue-500 text-white p-4">
        Main Street Moves Directory (WIP)
      </div>
      <div id="map" style="height: 200px"></div>
      <div class="px-3">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
